<!--{#<!doctype html>#}-->
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/LandingPage.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Stockify</title>
</head>

    <div class="row">
        <div class="w-80 mx-auto">
            <button type="button" class="btn btn-outline-info btn-lg">Personal Projects</button>
        </div>
        <div class="w-80 mx-auto">
            <h2>Home Page</h2>
        </div>
        <div class="w-80 mx-auto">
            <button type="button" class="btn btn-outline-info btn-lg">About Creator</button>
        </div>
    </div>


    <!-- Nav tabs -->

    <div class="row">
        <div class="col-1">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-portfolio" role="tab" aria-controls="v-pills-home" aria-selected="true">Portfolio</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-stats" role="tab" aria-controls="v-pills-profile" aria-selected="false">Stats</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-creator" role="tab" aria-controls="v-pills-messages" aria-selected="false">About Creator</a>
            </div>
        </div>

        <!-- Hidden Content -->
        <div class="col d-flex justify-content-center">
            <div class="tab-content" id="v-pills-tabContent">
                <!-- portfolio -->
                <div class="tab-pane fade show active" id="v-pills-portfolio" role="tabpanel" aria-labelledby="v-pills-home-tab">

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

                    <canvas id="UserTopArtists" width="450" height="450" style="background-color: #f0f8ff"></canvas>


                {% block javascript %}
                    <!-- <script type="text/javascript" src="{{url_for('static', filename='portfolio.js')}}"> -->
                    <script>
                        let ctx = document.getElementById('UserTopArtists');
                        //art_label = a_label;
                        //art_data = a_data;
                        art_label = JSON.parse({{ a_label | tojson }});
                        art_data = JSON.parse({{ a_data | tojson }});
                        var topArtists = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: art_label,
                                datasets: [{
                                    label: 'Artist Followers',
                                    data: art_data,
                                    backgroundColor: [
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255,159,64,0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 2
                                }]
                            }
                        });


                    </script> <!-- creates the chart showing the user's top artist's followers -->
                    <!--<script type="text/javascript" src="static/portfolio.js"></script> --> <!-- creates the chart showing the user's top artist's followers -->






                {% endblock %}

                </div>
                <!-- stats -->
                <div class="tab-pane fade" id="v-pills-stats" role="tabpanel" aria-labelledby="v-pills-profile-tab">stats</div>
                <!-- creator -->
                <div class="tab-pane fade" id="v-pills-creator" role="tabpanel" aria-labelledby="v-pills-messages-tab">creator</div>
            </div>
        </div>
    </div>

</html>