<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap & CSS -->
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Sip the Puddles</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="personal_projects.html">Personal Projects<span class="sr-only">(current)</span></a>
                content of personal projects
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="LandingPage.html">Home<span class="sr-only"></span></a>
                content of home
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="creator.html">About Creator<span class="sr-only"></span></a>
                content of creator
            </li>

        </ul>
    </div>
</nav>
</html>